{% extends 'User/main.html'%}

{% block content %}
<h1 style="padding-left: 20px;">Advanced Query1</h1>
<div style="padding:0 0 20px 20px;">For each professor, find the number of courses he/she teaches</div>
<table class="table table-sm">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Department</th>
        <th>numCourses</th>
    </tr>
    {% for i in data %}
        <tr>
            <th></th>
            <td>{{i.Name}}</td>
            <td>{{i.Department}}</td>
            <td>{{i.numCourses}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}