{% extends 'User/main.html'%}

{% block content %}

<hr>
<div class="row">
    <div class="col-md-1.5 offset-md-1">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
            <button class="btn btn-primary" type="submit"> Search </button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-8 offset-md-1">
        <h5>Enrollment</h5>
        <div class = "card card-body">
            <a class='btn btn-primary btn-sm btn-block' href="{% url 'enrollment_create' %}">Add Enrollment</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>NetId</th>
                    <th>CRN</th>
                </tr>
                {% for i in enrollment %}
                    <tr>
                        <th></th>
                        <td>{{i.id}}</td>
                        <td>{{i.NetId}}</td>
                        <td>{{i.CRN}}</td>
                        <td><a class="btn btn-sm btn-info" href = "{% url 'enrollment_update' NetId=i.NetId CRN=i.CRN %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href = "{% url 'enrollment_delete' NetId=i.NetId CRN=i.CRN %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br>

{% endblock %}
