{% extends 'User/main.html'%}

{% block content %}

<hr>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
            <button class="btn btn-primary" type="submit"> Search </button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-8 offset-md-1">
        <h5>LoginInfo</h5>
        <div class = "card card-body">
            <a class='btn btn-primary btn-sm btn-block' href="{% url 'logininfo_create' %}">Add Login Info</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>AccountName</th>
                    <th>Password</th>
                </tr>
                {% for i in logininfo %}
                    <tr>
                        <th></th>
                        <td>{{i.AccountName}}</td>
                        <td>{{i.Password}}</td>
                        <td><a class="btn btn-sm btn-info" href = "{% url 'logininfo_update' i.AccountName %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href = "{% url 'logininfo_delete' i.AccountName %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<br>

{% endblock %}
